@* Tela de login *@

@* Cabeçalho/Menu *@
<header class="header_login">
    <h1 style="display: none;">Tela login</h1>
    @* <img src="~/images/logo.png" alt="Logo do SleighList"> *@
    @* <img src="~/images/fundo_gato.png" alt="Fundo Gatinho"> *@
    <img src="~/images/header_completa.png" alt="Fundo Gatinho" height="800" width="2200">
    <p>Deixe a correria para o Papai Noel, organize tudo com o SleighList.</p>
</header>
<main class="main_login">
    <form action="">
        <h2>Acesse sua conta</h2>
        <div>
            <label for="email">E-mail</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="senha">Senha</label>
            <input type="password" name="senha">
        </div>
        <button type="submit">Acessar</button>
    </form>
</main>
<footer>
    <p>© 2024 - SEDUC - Agenda Natal</p>
</footer>