<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login - SleighList</title>
    <link rel="stylesheet" href="style.css"> <!-- Link para o CSS -->
</head>

<body>
    <header>
       <img src="wwwroot/images/Group 25.png" alt="">
    </header>
    <main>
        <div class="login-section">
            <h2>Acesse Sua Conta</h2>
            <form class="login-form">
                <input type="email" placeholder="E-mail" required>
                <input type="password" placeholder="Senha" required>
                <a href="#">Esqueci minha senha</a>
                <button type="submit">Acessar</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer">
            &copy; 2024 - SEDUC - Agenda Natal
        </div>
    </footer>
</body>

</html>