/* _content/SleighList/Views/Home/Index.cshtml.rz.scp.css */
*[b-acp5oohxnx] {
  padding: 0;
}

.header_login[b-acp5oohxnx] {
  background-image: url("/images/header_completa.png");
  width: 1000px;
  height: 1920px;
  margin-top: -20;

}
/* _content/SleighList/Views/Shared/_Layout.cshtml.rz.scp.css */
